/* Style cho trang Nhà xuất bản */
.search-input-wrapper {
    position: relative;

    .search-icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10;
        pointer-events: none;
        font-size: 0.85rem;
    }

    input {
        padding-left: 32px !important;
    }
}
